
@font-face {
    font-family: 'playworld';
    src: url('fuente/Playworld.ttf') format('truetype');
}

/* colores{
        azul: #69BEFA
        amarillo: #FAC069
        azul mas oscuro: #377CAD
        marron : #AB997E
} */

body{
    background-color: #FEFDDA;
    font-family: Verdana;

}

header{
    background-color: #FFE219;
    padding-left: 20px;
}

h1{
    font-family: 'playworld';
    color: #0900AD;
}

p{
    color: #4F45F4;
}