/*  
    Gupo DawVersiTeam 
    Alberto Bravo Rostro
    Alejandro Fernández 
    Javier Florencio Airado
    Jorge Ortega Rivera
*/

/* Importamos al css la fuentes descargada */
@font-face {
    font-family: 'playworld';
    src: url('../../../src/css/fuente/Playworld.ttf') format('truetype');
}

/* Borrar estilos por defecto del navegador */
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: none;
	outline: none;
}


/***** L A Y O U T *****/

body{
    background-color: #FEFDDA;
    font-family: Verdana;
    color: #4F45F4;
    height: 100vh;
}

/* CABECERA de la página */
header {
    background-color: #FFE219;
    padding: 0 2% 0 1%; /* 2% pading right para separa más el icono que el logo */
    box-shadow: 4px 5px 20px 0px #1b00b233;
}

/* MAIN */
main {
    margin: 3%; /*del total del html que es 100%*/
}

/* FOOTER */
footer{
    background-color: #1C00B2;
    color: #FEFDDA ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: static;
    bottom: 0;
}



/* Elementos del Header */
div#logo img { 
    width: 200px; /* mantenemos en píxeles porque no queremos que se reduzca ni se agrande su tamaño */
}



/* Elementos del Main */
h1{
    font-family: 'playworld';
    color: #1C00B2;
    margin-bottom: 5%;
    font-size: 3.5em;
    text-shadow: 2px 2px 2px #FEFDDA;
}

p{
    font-size: 1.5em;
}



/* Main de la página INICIAL*/
#mainInicio{
    display: flex; /* podríamos utilizar un posicionamiento relativo con floats, pero haciendo un display flex es más facil e intuitivo cambiar la disposición de las cajas y su flexibilidad, al igual que su crecimiento o decrecimiento*/
    flex-direction: row; /* por defecto dirección de las cajas horizontal, que cambiaremos dependiendo de las medias queries*/
    align-items: center; /* para alinear en dirección vertical */
    flex-wrap: nowrap; /*  por defecto cuando los elementos hijos no bajan al no caber */
}

div#texto{
    flex-basis: 35%; /* 35% del total del main, esta propiedad establece el ancho incial de la caja */
    flex-grow: 1; /* por defecto es 0, nosostros queremos que crezca o no dependiendo de la resolución. No hace falta al poner porcentajes de flex-bassis */
    flex-shrink: 1; /* por defecto ya es 1, para reducir su tamaño cada  */
}

div#mapa{
    width: 50%; /* 50% del total del main, es  */
}

.destacar{
    font-weight: bold;
    color:#FFE219;
}

#iconoHello{
    width: 1em;
    float: left; /* para flotar el icono al margen izquierdo del contenedor */
}


.cajonTexto{
    background-color: #8F88FF;
    color: #FEFDDA;
    padding: 2.5%; /* corresponde al total de main */
    border-radius: 5px;
    text-align: center;
    box-shadow: 4px 5px 20px 0px #1b00b233;
}

div#movil{ /* este div se cambia por el texto de instrucciones al pasar a la versión moóvil */
    display: none;
}

div#mapa{
    margin-left: 5%; /* 5% de margin con respecto al margin */
    background-position: center;
    background-size: cover;
    padding: 2.5%;
    height: 65vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

/* 35% + 50% +  5% + 2.5%*4 (2 paddings por cada caja) = 100% del main */

.mundo{
    background: url(../../../src/img/mapamundi.png) repeat-x 0 0;
    border-radius: 50%;
    border: 3px solid #8F88FF;
    animation: terminator 25s infinite linear; /* nombre, duración del cambio, veces que se repite, estilo movimiento */
    box-shadow: 0px 15px 60px rgba(255,255,255,0.5) inset,1em 0px 0px rgba(255,255,255,0.1) inset;
}

@keyframes terminator {
    0% { background-position: 0 0}
    50% { background-position: -365px 0; box-shadow: 0px 15px 20px rgba(255,255,255,0.5) inset,40em 0px 80px rgba(0,0,0,0.8) inset;}
    100% { background-position: -727px 0}
}

/* botones */
div#btnranking img{
    width: 70px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #1C00B2;
    box-shadow: 0px 0px 0px 2px #8F88FF;
    cursor: pointer;
}

button#btnjugar{
    box-shadow: 0px 0px 0px 2px #8F88FF;
	background:linear-gradient(to bottom, #8F88FF 5%, #1C00B2 100%);
	border-radius:10px;
	border:1px solid #1C00B2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #FEFDDA;
    
    animation-name: botonJugar;
    animation-duration: 3s;
    animation-direction: alternate; /* cambia la dirección de la animación */
    animation-iteration-count: infinite; /* cuando termina la animación se vuelve a repetir */

}

button#btnjugar:hover {
	background:linear-gradient(to bottom, #1C00B2 5%, #4F45F4 100%);
	background-color:#1C00B2;
}

@keyframes botonJugar {
    from {font-size: 1em;}
    to {font-size: 1.5em;}
}



/* CUERPO página JUEGO */
#mainJuego {
    display: none; /* por defecto aparece oculto */
    text-align: center;
}



/* CUERPO página RANKING */
#mainRanking {
    display: none;
    text-align: center;
}

/* CUERPO página ADMIN */
#mainAdmin {
    display: none;
}



/* Elementos del Footer */
footer div img{
    width: 70px;
}

footer p{
    font-size: 1em;
}

footer div#logoFundacion {
    margin-right: 20px;
    border: 4px solid #ffffff;
}



/***** MEDIAS QUERIES ******/

/* Tablets */
@media only screen and (max-width: 992px) {
    body {
      /* background-color: rgb(193, 240, 182); */
    }

    main#mainInicio{
        flex-direction: column;
    }

    h1{
        font-size: 3em;
     }

    div#texto, div#mapa{
        width: 95%;
    }

    div#texto{
        margin-bottom: 5%;
    }

    div#mapa {
        justify-content: center;
        margin: 0;

    }
}

/* Phones */
@media only screen and (max-width: 600px) {
    body {
      /* background-color: lightblue; */
    }

    header{
        padding: 0 4% 0 2%;
    }

    main{
        flex-direction: column;
        margin: 5% auto;
        width: 90%;
    }

    div#texto{
        display: none;
    }

    div#movil, div#mapa{
        width: 95%;
    }

    div#movil{
        display: block;
    }

    div#mapa {
        justify-content: center;
        margin: 5% 0 0; /* queremos margin por arriba, pero no por debajo, ni en los lados*/
        height: 35vh;
    }

    button#btnjugar{
        display: none; /* en la versión móvil no se podrá jugar */
    }

   footer{
        position: relative;
   }
}







/* Alberto Bravo */
div#login{
    margin:auto;
    border:solid 1px black;
    width: 20%;
    height: 100%;
    padding: 1% 5%;
    background-color: #8F88FF;
    border-radius: 7px;
    box-shadow: 7px 7px 12px #8080807d;
    color: #1C00B2;
    font-family: verdana;
    font-weight: bold;
    position: relative;
}

hr {
    color: #1C00B2 !important;
    margin-bottom: 12%;
}

img#logo_login{
    margin:auto;
    display: block;
    margin-top: 8%;
    width: 45%;
    height: auto;
}

img#flecha{
    float: right;
    width: 6%;
    height: auto;
    top: 0%;
    right: 0%;
    position: absolute;
    top: 5%;
    right: 5%;
}

button#boton{
    margin:auto;
    display: block;
    margin-top: 10%;
    border:none;
    padding: 3% 6%;
    background-color: #1C00B2;
    border-radius: 7px;
    box-shadow: 4px 4px 7px #fefddaf6;
    font-family: verdana;
    color: white;
}

button#boton:hover{
    background-color: #120078;
    transition: 1s;
}

div#login input{
    margin:auto;
    display: block;
    margin-top: 27%;
}

div#login label{
   padding-left: 24%;
}

input{
    width: 50%;
    height: 20%;
}